$primary: #7952b3;
$secondary: #ffe484;
$success: #52b382;
$danger: #b35252;

@import '~bootstrap/scss/bootstrap.scss';

h1, .h1 {
  font-size: 4rem;
}

h2, .h2 {
  font-size: 3rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

.card {
  height: 20rem;
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 960px;
}

/* @media  (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
 */
  /* .card {
    height: 200px;
  } */
}

@media (min-width: 576px) {
  /* .card {
    height: 200px;
  } */
}

.money-icon {
  background-image: url('./money-icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 70px;
  background-size: 80px 70px;
}

.star {
  background-image: url('./star.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

.favorites-icon {
  background-image: url('./favourite.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 70px;
  background-size: 80px 70px;
}